%weui-icon_toast_icon {
  color: #fff;
  font-size: 10.24vw;
}

.weui-toast-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.weui-toast.weui-toast_normal {
  position: initial;
  margin: initial;
  margin-top: -34.134vw;
  top: initial;
  left: initial;
}

.weui-toast.weui-toast_text {
  @extend .weui-toast_normal;
  min-height: initial;
  width: auto;
  max-width: 60%;
  padding: 0 2.13vw;
  .weui-icon_toast {
    display: none;
  }
}

.weui-icon_toast {
  @extend %weui-icon_toast_icon;
}

.weui-icon_toast.weui-icon-warn .weui-icon_before {
  @extend %weui-icon_toast_icon;
  color: #f6383a;
}

.weui-icon_toast.weui-icon-text {
  display: none;
}
