.profile-header {
  background-color: rgba(45, 53, 62, 0.45);
  color: white;
  padding: 2vw 0;
  position: relative;
  .background-blur {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    filter: blur(4vw);
    z-index: -1;
  }
}

.profile-header-image {
  border-radius: 100%;
  height: 25vw;
  width: 25vw;
  margin: 2vw 0;
  overflow: hidden;
}

.profile-header-userdata {
  text-align: center;
  .email {
    font-size: 2.9vw;
    color: #93A0AD;
  }
}
