@import 'flex-class.scss';
//fix safari Viewport Units Buggyfill bug
img {
  content: normal !important;
}

html {
  background-color: #eee;
  &.no-scroll {
    overflow: hidden;
  }
}

// text-align related
.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.word-break-break-all {
  word-break: break-all;
}
