@import '_flex.scss';
@import '_flex-class.scss';
html,
body {
  height: 100%;
}

html {
  background-color: #eee;
  &.no-scroll {
    overflow: hidden;
  }
}

// text-align related
.text-align-center {
  text-align: center;
}

.text-align-right{
  text-align: right;
}

.word-break-break-all {
  word-break: break-all;
}
